
.vBox {
    -fx-alignment: CENTER;
    -fx-background-color: rgb(230, 230, 230);
    -fx-padding: 10;
    -fx-spacing: 10;
}

.hBox {
    -fx-alignment: CENTER-LEFT;
    -fx-background-color: rgb(200, 200, 200);
    -fx-padding: 10;
}

.label {
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: rgb(200, 200, 200);
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-padding: 5;
    -fx-border-radius: 10;
    -fx-pref-width: 70;
}

.button:hover {
    -fx-background-color: rgb(180, 180, 180);
    -fx-text-fill: rgb(0,0,0);
}
