
.resultNavigationFooter {
    -fx-alignment: center;
}

.hBoxButtonContainer {
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 0 0 20 0;
}

.button {
    -fx-background-color: rgb(200, 200, 200);
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-padding: 5;
    -fx-border-radius: 10;
    -fx-pref-width: 70;
}

.button:hover {
    -fx-background-color: rgb(180, 180, 180);
    -fx-text-fill: rgb(0,0,0);
}

.disabled {
    -fx-opacity: 0.5;
}
