
.background_dark {
    -fx-background-color: rgb(200, 200, 200);
}

.background_light {
    -fx-background-color: rgb(230, 230, 230);
}

.entry_button {
    -fx-background-color: WHITE;
    -fx-border-radius: 50;
}

.top-bar-styling > .button {
    -fx-background-color: rgba(0, 0, 0, 0.0);
}

.top-bar-styling {
    -fx-background-color: rgb(200, 200, 200);
}

.unitLabel {
    -fx-font-size: 12;
    -fx-text-fill: rgb(89, 89, 89);
    -fx-padding: 0 0 0 10;
}