
.button {
    -fx-background-color: rgb(200,200,200);
    -fx-background-radius: 300;
    -fx-padding: 0;
    -fx-min-height: 20px;
    -fx-min-width: 20px;
    -fx-max-height: 20px;
    -fx-max-width: 20px;
    -fx-font-size: 10px;
    -fx-alignment: center;
}

.button:hover {
    -fx-background-color: rgb(180, 180, 180);
}

.unitLabel {
    -fx-font-size: 12;
    -fx-text-fill: rgb(89, 89, 89);
    -fx-padding: 0 0 0 10;
}
