
.button {
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-padding: 5;
    -fx-border-radius: 10;
    -fx-text-fill: rgb(89, 89, 89);
}

.button:hover {
    -fx-background-color: rgb(180, 180, 180);
    -fx-text-fill: rgb(0,0,0);
}

.lightButton {
    -fx-background-color: rgb(230, 230, 230);
}

.darkButton {
    -fx-background-color: rgb(200, 200, 200);
}