
.button {
    -fx-pref-height: 62;
    -fx-background-color: none;
    -fx-border-width: none;
    -fx-background-insets: none;
    -fx-border-insets: none;
    -fx-background-radius: 0;
    -fx-text-fill: rgb(89, 89, 89);
}

.button:hover {
    -fx-background-color: rgb(180, 180, 180);
    -fx-text-fill: rgb(0,0,0);
}

.currentPageButton {
    -fx-background-color: rgb(180, 180, 180);
    -fx-text-fill: rgb(0,0,0);
}

.topBar {
    -fx-background-color: rgb(200, 200, 200);
    -fx-pref-height: 51;
    -fx-pref-width: 600;
    -fx-alignment: center-left;
    -fx-font: 14px "Arial Bold";
    -fx-text-fill: rgb(89, 89, 89);
    -fx-padding: 0 0 0 10;
    -fx-spacing: 5;
}

.searchBar {
    -fx-pref-height: 30;
    -fx-pref-width: 149;
    -fx-background-color: rgb(230, 230, 230);
    -fx-border-width: 0;
    -fx-font-size: 14;
    -fx-text-fill: rgb(89, 89, 89);
}